<%- include('partials/header') %>
<%- include('partials/main_nav') %>

<main>
  <div class="jumbotron">
    <h1 class="display-4">Welcome to the <%= title %> page </h1>
    <p class="lead"> Start planning now for your next trip!</p>
    <hr class="my-4">
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/plans" role="button"> Start Planning!</a>
    </p>
  </div>
</main>

<%- include('partials/footer') %>
<%- include('partials/bottom_nav') %>
