<%- include('partials/header') %>
<%- include('partials/main_nav') %>


<!-- Main landing section of the website -->
<main>
  <div class="jumbotron mt-5">
  <h1 class="display-4" style="text-align: center; font-family: 'Copperplate', fantasy; font-weight: 200;">
      Welcome to the <%= title %> page
  </h1>

    <p class="lead" style="text-align: center; font-family: 'Papyrus', fantasy; font-weight: 200;">
        Start planning now for your next trip!
    </p>

    <!-- Button to navigate to the itinerary planner page -->
    <hr class="my-4">
    <p class="lead text-center">
      <a class="btn btn-primary btn-lg" href="/plans" role="button"> Start Planning!</a>
    </p>
  </div>
</main>

<%- include('partials/footer') %>
<%- include('partials/bottom_nav') %>
