<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<!-- Edit Existing Itinerary information -->
<div class ="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">

        <!-- Page Title -->
        <h1><%= title %></h1>

            <!-- Plan Field -->
            <div class="form-group">
                <label for="planTextfield"> Plan</label>
                <input type="text" class="form-control"
                id="planTextfield"
                placeholder="Enter name of Activity"
                name="plan" 
                value="<%= Plan.plan%>"
                required>
            </div>

            <!-- Date Field -->
            <div class="form-group">
                <label for="dateTextfield"> Date</label>
                <input type="text" class="form-control"
                id="dateTextfield"
                placeholder="Date"
                name="date" 
                 value="<%= Plan.date%>"
                 required>
            </div>

            <!-- Time Field -->
            <div class="form-group">
                <label for="timeTextfield"> Time</label>
                <input type="text" class="form-control"
                id="timeTextfield"
                placeholder="Time"
                name="time" 
                value="<%= Plan.time%>"
                required>
            </div>

            <!-- Notes Field -->
            <div class="form-group">
                <label for="notesTextfield"> Notes</label>
                <input type="text" class="form-control"
                id="notesTextfield"
                placeholder="Notes"
                name="notes"
                value="<%= Plan.notes%>"
                required>
            </div>

            <!-- Update Button: saves the edits -->
            <br>
            <button class="btn btn-primary" type="submit">
                <i class="fas fa-edit"></i> Update
            </button>

            <!-- Cancel Button -->
            <a href="/plans" class="btn btn-warning">
                <i class="fas fa-undo"></i> Cancel
            </a>
        </form>
    </div>
</div>

<%- include ../partials/footer.ejs %>
